
    <div class="col-md-12">
        <div id="wrap">
                <div class="container paragrphh">
                  
                  <ol>
                    <li>
                        <p>
                            <strong>Introduction and Acceptance</strong>
                        </p>
                    </li>
                </ol>
                <p>
                  Please read these terms of use carefully before using vault.fusang.co (hereinafter, "us", "we", or "vault.fusang.co"). By accessing and/or using vault.fusang.co (other than to read these terms of use for the first time) you are agreeing to comply with these terms of use, which may change from time to time as set forth in section 16 below. if you do not agree to be bound by these terms of use, do not access or use vault.fusang.co.
                </p>
                <p>
                  You agree that these Terms of Use are supported by good and valuable consideration the receipt and sufficiency of which you hereby acknowledge. Such consideration includes, without limitation, your use of vault.fusang.co and the materials and information available on the same.
                </p>
                <p>
                  In addition to these Terms of Use, Vault.fusang.co has established a Privacy Policy to explain how user information is collected and used by Vault.fusang.co. A copy of this Privacy Policy can be found here: https://www.fusang.co/privacy-policy and is incorporated by reference into these Terms of Use. By accessing or using any of our Websites, you are signifying your acknowledgement and agreement to Vault.fusang.co's Privacy Policy.
                </p>
                <ol start="2">
                    <li>
                        <p>
                            <strong>Intellectual Property</strong>
                        </p>
                    </li>
                </ol>
                <p>
                  Vault.fusang.co and included content (and any derivative works or enhancements of the same) including, but not limited to, all text, illustrations, files, images, software, scripts, graphics, photos, sounds, music, videos, information, content, materials, products, services, URLs, technology, documentation, and interactive features (collectively, the "Website Content") and all intellectual property rights to the same are owned by us, our licensors, or both. Additionally, all trademarks, service marks, trade names and trade dress that may appear on our Websites are owned by us, our licensors, or both. You shall not acquire any right, title or interest in our Websites or any Website Content. Any rights not expressly granted in these Terms of Use are expressly reserved.
                </p>
                <ol start="3">
                    <li>
                        <p>
                            <strong>Vault.fusang.co Access and Use</strong>
                        </p>
                        <ol>
                            <li>
                                <p>
                                    When accessing our Websites, including without limitation
                                    to the Website Content, you agree to comply with all
                                    applicable local laws including, without limitation
                                    copyright law. Except as expressly permitted in these Terms
                                    of Use, you may not use, reproduce, distribute, create
                                    derivative works based upon, publicly display, publicly
                                    perform, publish, transmit, or otherwise exploit Website
                                    Content for any purpose whatsoever without obtaining prior
                                    written consent from us or, in the case of third-party
                                    content, its respective owner. You acknowledge that you do
                                    not acquire any ownership rights by downloading or printing
                                    Website Content.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Furthermore, except as expressly permitted in these Terms
                                    of Use, you may not:
                                </p>
                                <ol>
                                    <li>
                                        <p>
                                            remove, alter, cover, or distort any copyright,
                                            trademark, or other proprietary rights notice on
                                            Vault.fusang.co or Website Content;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            circumvent, disable or otherwise interfere with
                                            security-related features of our Websites
                                            including, without limitation, any features that
                                            prevent or restrict use or copying of any content
                                            or enforce limitations on the use of our Websites
                                            or Website Content;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            use an automatic device (such as a robot or spider)
                                            or manual process to copy or "scrape" our Websites
                                            or Website Content for any purpose without the
                                            express written permission of Vault.fusang.co.
                                            Notwithstanding the foregoing, Vault.fusang.co
                                            grants public search engine operators permission to
                                            use automatic devices (such as robots or spiders)
                                            to copy Website Content from our Websites for the
                                            sole purpose of creating (and only to the extent
                                            necessary to create) a searchable index of Website
                                            Content that is available to the public.
                                            Vault.fusang.co reserves the right to revoke this
                                            permission (generally or specifically) at any time;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            collect or harvest any personally identifiable
                                            information from our Websites including, without
                                            limitation, user names, passwords, email addresses;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            solicit other users to join or become members of
                                            any commercial online service or other organization
                                            without our prior written approval;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            attempt to or interfere with the proper working of
                                            our Websites or impair, overburden, or disable the
                                            same;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            decompile, reverse engineer, or disassemble any
                                            portion of any our Websites;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            use network-monitoring software to determine
                                            architecture of or extract usage data from any of
                                            our Websites;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            encourage conduct that violates any local law,
                                            either civil or criminal, or impersonate another
                                            user, person, or entity.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            engage in any conduct that restricts or inhibits
                                            any other user from using or enjoying our Websites.
                                        </p>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p>
                                    You agree to cooperate fully with Vault.fusang.co to
                                    investigate any suspected or actual activity that is in
                                    breach of these Terms of Use.
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>
                            <strong>User Registration</strong>
                        </p>
                        <ol>
                            <li>
                                <p>
                                    If you become a user, you will provide true, accurate and
                                    complete registration information and, if such information
                                    changes, you will promptly update the relevant profile
                                    information. You are responsible for safeguarding and
                                    maintaining the confidentiality of your login credentials.
                                    You are solely responsible for the activity that occurs
                                    under your user account, whether or not you have authorized
                the activity. You agree to notify us immediately at                    <a href="mailto:support@fusang.co">support@fusang.co</a> of
                                    any breach of security or unauthorized use of your user
                                    account.
                                </p>
                            </li>
                        </ol>
                    </li>
                </ol>
                <ol start="5">
                    <li>
                        <p>
                            <strong>User Content</strong>
                        </p>
                        <ol>
                            <li>
                                <p>
                                    We may now or in the future permit users to post, upload,
                                    transmit through, or otherwise make available on our
                                    Websites (collectively, "submit") messages, templates,
                                    text, illustrations, files, images, graphics, photos,
                                    comments, sounds, music, videos, information, content,
                                    and/or other materials ("User Content"). Subject to the
                                    rights and license you grant herein, you retain all right,
                                    title and interest in your User Content. We do not
                                    guarantee any confidentiality with respect to User Content
                                    even if it is not published on our Websites. It is solely
                                    your responsibility to monitor and protect any intellectual
                                    property rights that you may have in your User Content, and
                                    we do not accept any responsibility for the same.
                                </p>
                            </li>
                            <li>
                                <p>
                                    You shall not submit any User Content protected by
                                    copyright, trademark, patent, trade secret, moral right, or
                                    other intellectual property or proprietary right without
                                    the express permission of the owner of the respective
                                    right. You are solely liable for any damage resulting from
                                    your failure to obtain such permission or from any other
                                    harm resulting from User Content that you submit.
                                </p>
                            </li>
                            <li>
                                <p>
                                    You represent, warrant, and covenant that you will not
                                    submit any User Content that:
                                </p>
                                <ol>
                                    <li>
                                        <p>
                                            violates or infringes in any way upon the rights of
                                            others, including, but not limited to, any
                                            copyright, trademark, patent, trade secret, moral
                                            right, or other intellectual property or
                                            proprietary right of any person or entity;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            impersonates another or is unlawful, threatening,
                                            abusive, defamatory, invasive of privacy or
                                            publicity rights, vulgar, obscene, profane,
                                            pornographic, or otherwise objectionable;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            encourages conduct that would constitute a criminal
                                            offense, give rise to civil liability or otherwise
                                            violate any law;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            is an advertisement for goods or services or a
                                            solicitation of funds;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            includes personal information such as messages
                                            which identify phone numbers, social security
                                            numbers, account numbers, addresses, or employer
                                            references;
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            contains a formula, instruction, or advice that
                                            could cause harm or injury; or
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            is a chain letter of any kind.
                                        </p>
                                        <p>
                                          Moreover, any conduct by a user that in our sole discretion restricts or
                                          inhibits any other user from using or enjoying our Websites will not be
                                          permitted.
                                      </p>
                                    </li>
                                </ol>
                            </li>
                            
                                  <li>
                                          <p>
                                              By submitting User Content to us, simultaneously with such
                                              posting you automatically grant, or warrant that the owner has
                                              expressly granted, to us a worldwide, royalty-free, perpetual,
                                              irrevocable, non-exclusive, fully sublicensable, and
                                              transferable right and license to use, reproduce, distribute,
                                              create derivative works based upon (including, without
                                              limitation, translations), publicly display, publicly perform,
                                              transmit, and publish the User Content (in whole or in part) as
                                              we, in our sole discretion, deem appropriate including, without
                                              limitation, (1) in connection with our business; and (2) in
                                              connection with the businesses of our successors, parents,
                                              subsidiaries, and their related companies. We may exercise this
                                              grant in any format, media or technology now known or later
                                              developed for the full term of any copyright that may exist in
                                              such User Content. Furthermore, you also grant other users
                                              permission to access your User Content and to use, reproduce,
                                              distribute, create derivative works based upon, publicly
                                              display, publicly perform, transmit, and publish your User
                                              Content for personal, non-commercial use as permitted by the
                                              functionality of any of our Websites and these Terms of Use.
                                          </p>
                                      </li>
                                      <li>
                                              <p>
                                                  By submitting User Content, you also grant us the right, but
                                                  not the obligation to use your biographical information
                                                  including, without limitation, your name and geographical
                                                  location in connection with broadcast, print, online, or other
                                                  use or publication of your User Content. Notwithstanding the
                                                  foregoing, you waive any and all claims you may now or later
                                                  have in any jurisdiction to so-called "moral rights" or rights
                                                  of "droit moral" with respect to the User Content.
                                              </p>
                                          </li>
  
                                          <li>
                                                  <p>
                                                      We reserve the right to display advertisements in connection
                                                      with your User Content and to use your User Content for
                                                      advertising and promotional purposes. You acknowledge and agree
                                                      that your User Content may be included on the websites and
                                                      advertising networks of our distribution partners and
                                                      third-party service providers (including their downstream
                                                      users).
                                                  </p>
                                              </li>
                                              <li>
                                                      <p>
                                                          We have the right, but not the obligation, to monitor User
                                                          Content. We have the right in our sole discretion and for any
                                                          reason whatsoever to edit, refuse to post, remove, or disable
                                                          access to any User Content.
                                                      </p>
                                                  </li>
                            
                        </ol>
                    </li>
                </ol>
                
                <ol start="6">
                    <li>
                        <p>
                            <strong>Website Content</strong>
                        </p>
                        <ol>
                            <li>
                                <p>
                                    You may not rely on any information and opinions expressed
                                    on any of our Websites for any other purpose. In all
                                    instances, it is your responsibility to evaluate the
                                    accuracy, timeliness, completeness, or usefulness of
                                    Website Content. Under no circumstances will we be liable
                                    for any loss or damage caused by your reliance on any
                                    Website Content.
                                </p>
                            </li>
                            <li>
                                <p>
                                    If there is a dispute between persons accessing our
                                    Websites or between persons accessing our Websites and any
                                    third party, you understand and agree that we are under no
                                    obligation to become involved. If there is such a dispute,
                                    you hereby release Vault.fusang.co and its officers,
                                    directors, employees, parents, partners, successors,
                                    agents, affiliates, subsidiaries, and their related
                                    companies from claims, demands, and damages of every kind
                                    or nature arising out of, relating to, or in any way
                                    connected with such dispute.
                                </p>
                            </li>
                        </ol>
                    </li>
                </ol>
                <ol start="7">
                    <li>
                        <p>
                            <strong>Indemnification</strong>
                        </p>
                    </li>
                </ol>
                <p>
                    You agree to indemnify and hold harmless Vault.fusang.co and its officers,
                    directors, employees, parents, partners, successors, agents, distribution
                    partners, affiliates, subsidiaries, and their related companies from and
                    against any and all claims, liabilities, losses, damages, obligations,
                    costs and expenses (including reasonable attorneys' fees and costs) arising
                    out of, related to, or that may arise in connection with: (i) your access
                    to or use of any of our Websites; (ii) User Content provided by you or
                    through use of your user account; (iii) any actual or alleged violation or
                    breach by you of these Terms of Use; (iv) any actual or alleged breach of
                    any representation, warranty, or covenant that you have made to us; or (v)
                    your acts or omissions. You agree to cooperate fully with us in the defense
                    of any claim that is the subject of your obligations hereunder.
                </p>
                <ol start="8">
                    <li>
                        <p>
                            <strong>Disclaimers</strong>
                        </p>
                    </li>
                </ol>
                <p>
                    YOU EXPRESSLY AGREE THAT USE OF OUR WEBSITES IS AT YOUR SOLE RISK. OUR
                    WEBSITES AND WEBSITE CONTENT ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE"
                    BASIS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. WITHOUT
                    LIMITING THE FOREGOING AND TO THE FULLEST EXTENT PERMITTED BY LAW,
                    VAULT.FUSANG.CO AND ITS OFFICERS, DIRECTORS, EMPLOYEES, PARENTS, PARTNERS,
                    SUCCESSORS, AGENTS, DISTRIBUTION PARTNERS, AFFILIATES, SUBSIDIARIES, AND
                    THEIR RELATED COMPANIES DISCLAIM ANY AND ALL WARRANTIES INCLUDING ANY: (1)
                    WARRANTIES THAT THE WEBSITES WILL MEET YOUR REQUIREMENTS; (2) WARRANTIES
                    CONCERNING THE AVAILABILITY, ACCURACY, SECURITY, USEFULNESS, TIMELINESS, OR
                    INFORMATIONAL CONTENT OF THE VAULT.FUSANG.CO; (3) WARRANTIES OF TITLE,
                    NON-INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE; (4)
                    WARRANTIES FOR SERVICES OR GOODS RECEIVED THROUGH OR ADVERTISED ON OUR
                    WEBSITES OR ACCESSED THROUGH ANY OF OUR WEBSITES; (5) WARRANTIES CONCERNING
                    THE ACCURACY OR RELIABILITY OF THE RESULTS THAT MAY BE OBTAINED FROM THE
                    USE OF THE WEBSITES; (6) WARRANTIES THAT YOUR USE OF THE WEBSITES WILL BE
                    SECURE OR UNINTERRUPTED; AND (7) WARRANTIES THAT ERRORS IN THE SOFTWARE
                    WILL BE CORRECTED.
                </p>
                <ol start="9">
                    <li>
                        <p>
                            <strong>Limitation on Liability</strong>
                        </p>
                        <ol>
                            <li>
                                <p>
                                    UNDER NO CIRCUMSTANCES SHALL VAULT.FUSANG.CO OR ITS
                                    OFFICERS, DIRECTORS, EMPLOYEES, PARENTS, PARTNERS,
                                    SUCCESSORS, AGENTS, DISTRIBUTION PARTNERS, AFFILIATES,
                                    SUBSIDIARIES, OR THEIR RELATED COMPANIES BE LIABLE FOR
                                    INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY
                                    DAMAGES (EVEN IF VAULT.FUSANG.CO HAS BEEN ADVISED OF THE
                                    POSSIBILITY OF SUCH DAMAGES), ARISING OUT OF, RELATING TO,
                                    OR IN ANY WAY CONNECTED WITH OUR WEBSITES OR THESE TERMS OF
                                    USE. YOUR SOLE REMEDY FOR DISSATISFACTION WITH OUR WEBSITES
                                    INCLUDING, WITHOUT LIMITATION, THE WEBSITE CONTENT IS TO
                                    STOP USING OUR WEBSITES. SUCH LIMITATION SHALL ALSO APPLY
                                    WITH RESPECT TO DAMAGES INCURRED BY REASON OF SERVICES OR
                                    PRODUCTS RECEIVED THROUGH OR ADVERTISED IN CONNECTION WITH
                                    ANY OF OUR WEBSITES OR ANY LINKS ON OUR WEBSITES, AS WELL
                                    AS BY REASON OF ANY INFORMATION OR ADVICE RECEIVED THROUGH
                                    OR ADVERTISED IN CONNECTION WITH ANY OF OUR WEBSITES OR ANY
                                    LINKS ON OUR WEBSITES. SUCH LIMITATION SHALL ALSO APPLY
                                    WITH RESPECT TO DAMAGES INCURRED BY REASON OF ANY CONTENT
                                    POSTED BY A THIRD-PARTY OR CONDUCT OF A THIRD-PARTY ON OUR
                                    WEBSITES.
                                </p>
                            </li>
                            <li>
                                <p>
                                    NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN,
                                    IN NO EVENT SHALL THE CUMULATIVE LIABILITY OF
                                    VAULT.FUSANG.CO AND ITS OFFICERS, DIRECTORS, EMPLOYEES,
                                    PARENTS, PARTNERS, SUCCESSORS, AGENTS, DISTRIBUTION
                                    PARTNERS, AFFILIATES, SUBSIDIARIES, AND THEIR RELATED
                                    COMPANIES EXCEED THE GREATER OF THE TOTAL PAYMENTS RECEIVED
                                    FROM YOU BY VAULT.FUSANG.CO DURING THE PRECEDING TWELVE
                                    (12) MONTH PERIOD OR $100. FURTHERMORE, YOU AGREE THAT ANY
                                    CAUSE OF ACTION ARISING OUT OF, RELATING TO, OR IN ANY WAY
                                    CONNECTED WITH ANY OF OUR WEBSITES OR THESE TERMS OF USE
                                    MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION
                                    ACCRUES; OTHERWISE, SUCH CAUSE OF ACTION SHALL BE
                                    PERMANENTLY BARRED.
                                </p>
                            </li>
                            <li>
                                <p>
                                    In some jurisdictions limitations of liability are not
                                    permitted. In such jurisdictions, some of the foregoing
                                    limitations may not apply to you. These limitations shall
                                    apply to the fullest extent permitted by law.
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>
                            <strong>Termination</strong>
                        </p>
                        <ol>
                            <li>
                                <p>
                                    We reserve the right in our sole discretion and at any time
                                    to terminate or suspend your user account and/or block your
                                    access to our Websites for any reason including, without
                                    limitation if you have failed to comply with the letter and
                                    spirit of these Terms of Use. You agree that
                                    Vault.fusang.co shall not be liable to you or any third
                                    party for any termination or suspension of your user
                                    account or for blocking your access to our Websites.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Any suspension or termination shall not affect your
                                    obligations to us under these Terms of Use. The provisions
                                    of these Terms of Use which by their nature should survive
                                    the suspension or termination of your user account or these
                                    Terms of Use shall survive including, but not limited to
                                    the rights and licenses that you have granted hereunder,
                                    indemnities, releases, disclaimers, limitations on
                                    liability, provisions related to choice of law, dispute
                                    resolution, no class action, no trial by jury and all of
                                    the miscellaneous provisions in Section 13.
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>
                            <strong>Copyright Policy</strong>
                        </p>
                        <ol>
                            <li>
                                <p>
                                    Vault.fusang.co respects the intellectual property rights
                                    of others and expects its users to do the same. In
                                    appropriate circumstances and at its sole discretion,
                                    Vault.fusang.co may terminate and/or disable the user
                                    account of users who it suspects to be infringers of the
                                    copyrights (or other intellectual property rights) of
                                    others. Additionally, in appropriate circumstances and in
                                    its sole discretion, Vault.fusang.co may remove or disable
                                    access to material on any of its websites or hosted on its
                                    systems that may be infringing or the subject of infringing
                                    activity.
                                </p>
                            </li>
                        </ol>
                    </li>
                    <!-- <li>
                        <p>
                            <strong>Governing Law</strong>
                        </p>
                    </li> -->
                </ol>
                <!-- <p>
                    <a name="_GoBack"></a>
                    These terms and conditions are governed by the laws of Singapore and the
                    non-exclusive jurisdiction of the courts of Singapore.
                </p> -->
                <ol start="12">
                    <li>
                        <p>
                            <strong>Amendment; Additional Terms</strong>
                        </p>
                        <ol>
                            <li>
                                <p>
                                    We reserve the right in our sole discretion and at any time
                                    and for any reason, to modify or discontinue any aspect or
                                    feature of our Websites or to modify these Terms of Use. In
                                    addition, we reserve the right to provide you with
                                    operating rules or additional terms that may govern your
                                    use of our Websites generally, unique parts of our
                                    Websites, or both ("Additional Terms"). Any Additional
                                    Terms that we may provide to you will be incorporated by
                                    reference into these Terms of Use. To the extent any
                                    Additional Terms conflict with these Terms of Use, the
                                    Additional Terms will control.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Modifications to these Terms of Use or Additional Terms
                                    will be effective immediately upon notice, either by
                                    posting on our Websites or by notification by email or
                                    conventional mail. It is your responsibility to review the
                                    Terms of Use and our Websites from time to time for any
                                    changes or Additional Terms. Your access and use of any our
                                    Websites following any modification of these Terms of Use
                                    or the provision of Additional Terms will signify your
                                    assent to and acceptance of the same. If you object to any
                                    subsequent revision to the Terms of Use or to any
                                    Additional Terms, you may terminate your user account, if
                                    you do not have a user account, your only recourse is to
                                    immediately discontinue use of our Websites.
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>
                            <strong>Miscellaneous</strong>
                        </p>
                        <ol>
                            <li>
                                <p>
                                    No waiver by either party of any breach or default
                                    hereunder shall be deemed to be a waiver of any preceding
                                    or subsequent breach or default. The section headings used
                                    herein are for convenience only and shall not be given any
                                    legal import. If any provision of these Terms of Use is
                                    held to be invalid or unenforceable, the invalidity of such
                                    provision shall not affect the validity of the remaining
                                    provisions of the Terms of Use, which shall remain in full
                                    force and effect.
                                </p>
                            </li>
                            <li>
                                <p>
                                    These Terms of Use (including the Privacy Policy and any
                                    Additional Terms incorporated by reference) constitute the
                                    entire agreement of the parties with respect to the subject
                                    matter hereof, and supersede all previous written or oral
                                    agreements between us with respect to such subject matter.
                                </p>
                            </li>
                            <li>
                                <p>
                                    You may not assign these Terms of Use or assign any rights
                                    or delegate any obligations hereunder, in whole or in part,
                                    without our prior written consent. Any such purported
                                    assignment or delegation by you without the appropriate
                                    prior written consent will be null and void and of no force
                                    and effect. Vault.fusang.co may assign these Terms of Use
                                    or any rights hereunder without your consent and without
                                    notice.
                                </p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>
                            <strong>Notices</strong>
                        </p>
                    </li>
                </ol>
                <p>
                    All notices, requests, and communications hereunder shall be in writing,
                    and any such notice, request or other communication shall be deemed to have
                    been given or made when received in the mailbox and confirmed receipt to:
                    support@fusang.co
                </p>
                </div>
             </div>
            </div>