<br>
<br>
<div class="cp-user-section">
    <div class="cp-backArrow">
        <a [routerLink]="['/fusang/clients']">
            <img src="../../../assets/images/backArrow.svg" alt="">
        </a>
    </div>
    <div class="cp-userName">
            <span class="userClass {{workflowObject.status.toLowerCase()}}2" >{{this.getProfileInfo.clientName }} </span>
            <span class="{{workflowObject.status.toLowerCase()}} commonstatus">{{workflowObject.status}}</span>
         
    </div>
    <div class="cp-user-card">
        <div class="">
                <div class="cp-card-sec">
                    <div *ngIf="getProfileInfo.profilePic === null" ><img class="cp-userImage" src="../../../assets/images/sidebar/defaultclient.svg" alt=""></div>
                    <div *ngIf="getProfileInfo.profilePic !== null" ><img class="cp-userImage" src="{{ getProfileInfo.profilePic }}" alt=""></div>
                    <div class="cp-user-details">
                        <div class="cp-user-email">{{getProfileInfo.domainName}}</div>
                        <div class="cp-user-wallet-det">
                            <div class="cp-no-of-users">{{totalUsers}} Users </div>
                            <span>|</span>
                            <div class="cp-no-of wallets">{{totalWallets}} Wallets</div>
                        </div>
                  </div>
               </div>
        </div>
        <!-- [disabled]='moreThanTwoWallets === true' -->
        <div class="deactivate-sec" *ngIf="workflowObject.status === 'Active' &&  !moreThanTwoWallets" > <button class="commonButton"  (click)="sucspop(successtemplate)"  >DEACTIVATE</button></div>
        <!-- <div class="deactivate-sec" *ngIf="workflowObject.status === 'Deactivated'"> <button class="commonButton"  (click)="reActivateClientUser(successtemplate)"  >REACTIVATE</button></div>    -->
        <ng-template #successtemplate class="invite succesmodal">
                <div class=" successpopup">
                  <div class="modal-header no-line">
                    <div class="modal-header-wrapper">
                      <div class="modal-header-box font24 khulaSemiBold"></div>
                      <button type="button" class="close font24 pull-right" aria-label="Close" (click)="successRef.hide()">
                            <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div> 
                  <div class="modal-body center-box">
                    <img *ngIf="workflowObject.status !== 'Deactivated'" src="../../../assets/images/inviteuser/success.svg" alt="">
                    <!-- <img *ngIf="workflowObject.status === 'Deactivated'" src="../../../assets/images/success.svg"> -->
                    <div class="sus-contant-box">
                      <p *ngIf="workflowObject.status !== 'Deactivated'" class="font24 khulaSemiBold success-message">Are you sure you want to deactivate {{
                        getProfileInfo.clientName }} </p>
                        <!-- <p *ngIf="workflowObject.status === 'Deactivated'" class="font24 khulaSemiBold success-message">Are you sure you want to reactivate {{
                            getProfileInfo.clientName }} </p> -->
                      <div>
                        <button class="cancel khulaSemiBold" (click)="successRef.hide()">CANCEL</button>
                        <button *ngIf="workflowObject.status !== 'Deactivated'" class="btn-orange khulaSemiBold" (click)="deActivateUser(); successRef.hide()">DEACTIVATE</button>
                        <!-- <button *ngIf="workflowObject.status === 'Deactivated'" class="btn-orange khulaSemiBold" (click)="reActivateUser(); successRef.hide()">REACTIVATE</button> -->
                      </div> 
                    </div>
                  </div>
                </div>
        </ng-template>
    </div>
</div>
<mat-card class="matCard-border">
    <mat-tab-group>
        <mat-tab label="Basic Info">
            <ng-template matTabContent>
                <div class="basic-info-wrapper">
                    <div class="form-wrapper">
                        <form class="example-form" #f="ngForm" novalidate>
                            <div class="tab-header-sec">
                                <span> Client Basic Information</span>
                                <button *ngIf="!enableBtns && workflowObject.status === 'Active'" class="editBtn" (click)="editForm()">EDIT</button>
                                <div class="edit-cancel-btnGrp" *ngIf="enableBtns">
                                    <button class="cancel khulaSemiBold" (click)="resetClientInfo()">CANCEL</button>
                                    <button class="btn-orange khulaSemiBold" (click)="updateClientInfo()" [disabled]="!f.form.valid">UPDATE</button>
                                </div>
                            </div>
                            <div class="inner-form basicInfo-sett">
                                <mat-form-field class="example-half-width">
                                    <input matInput placeholder="Client Name" required id="clientName" name="clientName" #clientName="ngModel" [(ngModel)]="getProfileInfo.clientName" autocomplete="off" [disabled]="true">
                                    <mat-error *ngIf="'clientName'">
                                       Client Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-half-width">
                                    <input matInput placeholder="Website" id="domainName" name="domainName" #domainName="ngModel" [(ngModel)]="getProfileInfo.domainName" autocomplete="off" [disabled]="editUser">
                                    <!-- <mat-error *ngIf="'domainName'">
                                        website is <strong>required</strong>
                                    </mat-error> -->
                                </mat-form-field>

                                <mat-form-field class="example-full-width ">
                                    <input matInput placeholder="Country" class="arrow" name="country" [(ngModel)]="getProfileInfo.country" #country="ngModel" [disabled]="editUser" [matAutocomplete]="auto" (ngModelChange)="getTheValue()" required>
                                    <span></span>
                                    <mat-error *ngIf="'country'">
                                        Country is <strong>required</strong>
                                    </mat-error>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option class="autocomplete" *ngFor="let item of filteredOptions" [value]="item">
                                            {{item}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Address" required  name="address" #address="ngModel" [(ngModel)]="getProfileInfo.address" autocomplete="off" [disabled]="editUser"></textarea>
                                    <mat-error *ngIf="'address'">
                                        Address is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>  

                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Note" required  name="note" #note="ngModel" [(ngModel)]="getProfileInfo.notes" autocomplete="off" [disabled]="editUser"></textarea>
                                    <mat-error *ngIf="'Note'">
                                        Note is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>                           
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab label="Users">
            <ng-template matTabContent>
                <div class="wholeTableSection">
                <div class="tableSection">
                    <table mat-table [dataSource]="data" matSort class="mat-elevation-z8">
                        <ng-container *ngFor="let column of newColumns;" matColumnDef="{{column.value}}">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.name}} </th>
                          <td class="cp-matcell-settings" mat-cell *matCellDef="let element;let i=index" (click)="showUserProfile(i,element)">  
                          
                            <span class="role-wrapper">
                                <span  class="client_profilePic" *ngIf="column.value === 'profilePic' && element[column.value] !== null">                               
                                    <img src="{{element[column.value]}}" alt="">
                                </span>      
                                <span  class="client_profilePic" *ngIf="column.value === 'profilePic' && element[column.value] === null">
                                   <img class="cp-userImage" src="../../../assets/images/sidebar/defaultclient.svg" alt="">
                                </span>
                                    <span *ngIf="column.value!== 'status' && column.value !== 'role' && column.value!== 'createdDate' && column.value !== 'profilePic'">
                                        {{element[column.value]}}
                                    </span>
                                    <span class="tableStatus {{element[column.value].toLowerCase()}}1" *ngIf="column.value === 'status'">{{element[column.value]}}</span> 
                            </span>
                            
                             <span *ngIf="column.value === 'role'" class="role-wrapper">
                               <span *ngFor="let item of getProperRole(element[column.value]);let j= index">
                                 <!-- <span class="dep-box" *ngIf="j === 0">{{item.department}}</span> -->
                              <span class="role-box" *ngIf="j === 0">{{item.role_type  | lowercase}}</span>
                               </span>
                              <span class="more-data"  (mouseenter)="showTool(i)"  (mouseleave)="showleave()"  *ngIf="getProperRole(element[column.value]).length !== 1"><span class="more-data1">+{{ getProperRole(element[column.value]).length - 1 }}</span></span>
                              <!-- <span class="more-data"  (click)="showTool(i)" (mouseleave)="showleave()" *ngIf="getProperRole(element[column.value]).length >1 && getProperRole(element[column.value]).length !== ''"><span class="more-data1">+{{getProperRole(element[column.value]).length - 1}}</span></span> -->
                              <span class="tool" *ngIf="getProperRole(element[column.value]).length !== 1  && i == current">
                                  <span *ngFor="let item of getProperRole(element[column.value]);let j= index" style="border-bottom: solid 1px #e6ecf3;padding: 5px 0px;display: block; margin-left: 5px;">
                                    <span *ngIf="j != 0"> 
                                        {{item.role_type}}
                                    </span>  
                                </span>
                                </span>  
                              </span>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <!-- *ngIf="tabData.length!==0" -->
                    <pagination  [boundaryLinks]="true" [totalItems]="totalUsers" [itemsPerPage]="10" (pageChanged)="getNextSetItems($event)"
                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                    </pagination>
                    </div>
                    </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Workflow">

            <div *ngIf ="!enableWorkflowSec" class="main-sec-workflow">
            <div class="ap-backArrow workflow-navigation">    
                <a (click) = "goToIndividualWF()">
                  <img src="../../../assets/images/backArrow.svg" alt="">                 
                </a>
                <span>Back to workflow list</span>
             </div>         
             <app-onboardflow></app-onboardflow>   
        </div>

        <div class="tableSection workflow-div" *ngIf ="enableWorkflowSec">
              <table mat-table [dataSource]="OnloadWorkFlowdata" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="info" >
              <th mat-header-cell *matHeaderCellDef> Info </th>
              <td mat-cell *matCellDef="let element" (click) = "goToSelectedWorkFlow(element)"> {{element.info}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> status </th>
                    <td mat-cell *matCellDef="let element" (click) = "goToSelectedWorkFlow(element)"> {{element.status}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="createdDate">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element" (click) = "goToSelectedWorkFlow(element)"> {{element.createdDate | date :'dd-MMM-yyyy h:mm:ss '}} </td>
            </ng-container>


            <!-- <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element" (click) = "goToSelectedWorkFlow(element)"> {{element.status}} </td>
            </ng-container> -->

            <!-- <tr mat-header-row *matHeaderRowDef="dispWorkFlowColumns"></tr> -->
            <tr mat-row *matRowDef="let row; columns: dispWorkFlowColumns;"></tr>
          </table>

              <pagination *ngIf="tabData.length!==0" [boundaryLinks]="true" [totalItems]="resultsLength" [itemsPerPage]="10" (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
             </pagination>    
        </div>
        <div class=" wellcome-msg" *ngIf="tabData.length === 0">
                <h4 class="khulaLite" >This place looks deserted.</h4>
                <p class="khulaSemiBold" >No workflow started yet</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>