.search{
  position: relative;
}
.search-input{
  width: 260px;
border-radius: 4px;
border: solid 0.5px #cccccc;
padding: 7px 28px 3px;
margin-right: 12px;
font-size: 14px;
font-family: Khula-SemiBold , Arial, Helvetica, sans-serif;
color: #687178;
background-color: transparent;
}
.searchImg{
  position: absolute;
  top:10px;
  bottom: 8px;
  left:8px;
}
.searchImg1{
  left: 84%;
  top: 12px;
  cursor: pointer;
}
.select-dropdown{
  border-radius: 4px;
  border: solid 0.5px #cccccc;
  padding: 3px 40px 2px 9px;
  color: #687178;
  font-size: 14px;
  margin-right: 12px;
  font-family: Khula-SemiBold , Arial, Helvetica, sans-serif;
  background-color: transparent;
  appearance: none;
  background-image: url('../../../assets/images/filled-dropdown.svg');
  background-repeat: no-repeat;
  background-position: 90% 7px;
  height: 31px;
}
.filterDiv{
  justify-content: flex-end;
}
.headingList{
  font-family: Khula-SemiBold , Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #4a4a4a;
}
.tableHeading{
  font-family: Khula-SemiBold , Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #4a4a4a;
}
.searchIcon{
  margin-right: 12px;
  cursor: pointer;
}
.dateInput{
  width: 150px;
  height: 30px;
  border-radius: 4px;
  border: solid 0.5px #cccccc;
  padding-left: 30px;
  background-color: transparent;
  color: #687178;
  font-family: Khula-SemiBold , Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.calImg{
  position: absolute;
  left: 8px;
  top: 8px;
}
.tablerowtop{
  margin-top: 25px;
}
.dep-box{
    background: #d0e1f5;
    color: #687178;
    border-radius: 2px;
    font-size: 12px;
    text-transform: capitalize;
    padding: 5px 0px;
    text-align: center;
    width: 80px;
    display: inline-block;
    padding-top:8px;
}
.role-wrapper{
  position: relative;
}
.role-box{
  background: #56ac17;
    color: #ffffff;
    border-radius: 2px;
    margin-left: 5px;
    padding: 5px 0px;
    font-size: 12px;
    text-transform: capitalize;
    width: 69px;
    display: inline-block;
    text-align: center;
    padding-top:8px;
}
.more-data{
  /* min-width: 25px;
  display: inline-block; */
  /* width: 50px;
  height: 35px; */
  display: inline-block;
}
.more-data1{
  font-size: 12px;
  text-transform: capitalize;
  background: #3954e5;
  color: #ffffff;
  margin: 5px;
  padding: 4px 6px 1px 5px;
  border-radius: 50%;
}
.tool{
  position: absolute;
  /* display: none; */
  top: 32px;
  left: 67px;
  width: 228px;
  text-align: left;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  z-index: 1;
  padding: 1px;
  text-transform: capitalize;
}
/* .more-data:hover + .tool{
  display: block;
} */
span.tool:after {
  position: absolute;
  right: 107px;
  top: -20px;
  content: '';
  text-align: left;
  padding: 1px;
  border: 10px solid transparent;
  border-bottom: 10px solid #ffffff;

}
.verifier{
  background-color: #56ac17;
}
.checker{
  background-color: #4a90e2;

}
.approver{
  background-color: #9013fe;
}
.mat-header-cell.cdk-column-profilePic.mat-column-profilePic {
  width: 5% !important;
} 
.ap-userImage{
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 3px;
}